<div class="register-wrapper">
  <!-- Lado Izquierdo -->
  <div class="register-left">
    <img src="https://images.vexels.com/media/users/3/144860/isolated/preview/5128b7ff4b40f49cd6c0ce8698b9a19a-ilustracion-de-libros-de-lectura-de-nino.png" alt="Booki Logo" class="logo" />
    <h2 class="register-title-left">Create your account</h2>
    <p class="register-subtitle">
      Únete a nuestra comunidad y empieza a comprar los mejores libros hoy mismo.
    </p>
    <p class="login-text">
      Already have an account?
      <a routerLink="/login" class="login-link">Login</a>
    </p>
  </div>

  <!-- Lado Derecho -->
  <div class="register-right">
    <div class="register-scroll">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <h2 class="register-title">Register</h2>

        <!-- Nombre de usuario -->
        <label class="form-label">Nombre de usuario</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput formControlName="nombre_usuario" />
        </mat-form-field>

        <!-- Correo electrónico -->
        <label class="form-label">Correo electrónico</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="email" formControlName="correo" />
        </mat-form-field>

        <!-- Contraseña -->
        <label class="form-label">Contraseña</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="password" formControlName="contrasena" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="button">
          Registrarse
        </button>
      </form>
    </div>
  </div>
</div>
